@import '../../../styles/variables.scss';

.dropdown {
  width: 100%;
  margin: 0 auto 35px;
  position: relative;
  user-select: none;
  font-size: 14px;

  &__btn {
    padding: 10px 20px;
    background: $light;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-style: italic;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: darken($light, 8%);
    }
  }

  &__content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: $light;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 400;
    width: 100%;

    &__item {
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: darken($light, 8%);
      }

    }
  }

}
