//font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$Playfair: 'Playfair Display', serif;

//color
$stoke: #100101;
$primary: #211e24;
// $card: #a05e5e;
// $layout: #854141;
$card: #f0efef;
$light: #f3f3f3;
$btn-true: #70b365;

